# Default ignored files
/.idea.App.dir/.idea/workspace.xml
/.idea.App.dir/.idea/.name
/.idea.App.dir/.idea/contentModel.xml
/.idea.src.dir/.idea/contentModel.xml
/.idea.App.dir/.idea/encodings.xml
/.idea.App.dir/.idea/indexLayout.xml
/.idea.src.dir/.idea/indexLayout.xml
/.idea.App.dir/.idea/modules.xml
/.idea.src.dir/.idea/modules.xml
/.idea.App.dir/.idea/projectSettingsUpdater.xml
/.idea.src.dir/.idea/projectSettingsUpdater.xml
/.idea.App.dir/riderModule.iml
/.idea.src.dir/riderModule.iml
/.idea.App.dir/.idea/vcs.xml
/.idea.src.dir/.idea/vcs.xml
